<!-- Footer -->
<footer>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <ul class="list-inline text-center">
                    {% if site.RSS %}
                    <li>
                        <a href="{{ "/feed.xml" | prepend: site.baseurl }}">
                            <span class="fa-stack fa-lg">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-rss fa-stack-1x fa-inverse"></i>
                            </span>
                        </a>
                    </li>
                    {% endif %}
                    {% if site.twitter_username %}
                    <li>
                        <a href="https://twitter.com/{{ site.twitter_username }}">
                            <span class="fa-stack fa-lg">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
                            </span>
                        </a>
                    </li>
                    {% endif %}

                    <!-- add Weibo, Zhihu by Hux, add target = "_blank" to <a> by Hux -->
                    {% if site.zhihu_username %}
                    <li>
                        <a target="_blank" href="https://www.zhihu.com/people/{{ site.zhihu_username }}">
                            <span class="fa-stack fa-lg">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa  fa-stack-1x fa-inverse">知</i>
                            </span>
                        </a>
                    </li>
                    {% endif %}
                    {% if site.weibo_username %}
                    <li>
                        <a target="_blank" href="http://weibo.com/{{ site.weibo_username }}">
                            <span class="fa-stack fa-lg">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-weibo fa-stack-1x fa-inverse"></i>
                            </span>
                        </a>
                    </li>
                    {% endif %}


                    {% if site.facebook_username %}
                    <li>
                        <a target="_blank" href="https://www.facebook.com/{{ site.facebook_username }}">
                            <span class="fa-stack fa-lg">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
                            </span>
                        </a>
                    </li>
                    {% endif %}
                    {% if site.github_username %}
                    <li>
                        <a target="_blank" href="https://github.com/{{ site.github_username }}">
                            <span class="fa-stack fa-lg">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-github fa-stack-1x fa-inverse"></i>
                            </span>
                        </a>
                    </li>
                    {% endif %}
                </ul>
                <p class="copyright text-muted">
                    Copyright &copy; {{ site.title }} 2010 - {{ site.time | date: '%Y' }}
                    <br>
                    Theme by <a href="https://github.com/Huxpro/huxpro.github.io">Hux</a> |
                    <a href="http://www.miitbeian.gov.cn/">京ICP备14025055号</a>
                </p>
            </div>
        </div>
    </div>
</footer>

<!-- jQuery -->
<script src="{{ "/js/jquery.min.js " | prepend: site.baseurl }}"></script>

<!-- Bootstrap Core JavaScript -->
<script src="{{ "/js/bootstrap.min.js " | prepend: site.baseurl }}"></script>

<!-- Custom Theme JavaScript -->
<script src="{{ "/js/hux-blog.min.js " | prepend: site.baseurl }}"></script>


<!-- async load function -->
<script>
    function async(u, c) {
      var d = document, t = 'script',
          o = d.createElement(t),
          s = d.getElementsByTagName(t)[0];
      o.src = u;
      if (c) { o.addEventListener('load', function (e) { c(null, e); }, false); }
      s.parentNode.insertBefore(o, s);
    }
</script>

<!-- Highlight.js -->
<script>
    async("http://cdn.bootcss.com/highlight.js/8.6/highlight.min.js", function(){
        hljs.initHighlightingOnLoad();
    })
    // only load tagcloud.js in tag.html
    if($('#tag_cloud').length !== 0){
        async("/js/jquery.tagcloud.js",function(){
            $.fn.tagcloud.defaults = {
                //size: {start: 1, end: 1, unit: 'em'},
                color: {start: '#bbbbee', end: '#0085a1'},
            };
            $('#tag_cloud a').tagcloud();
        })
    }
</script>
<link href="http://cdn.bootcss.com/highlight.js/8.6/styles/github.min.css" rel="stylesheet">

<!--fastClick.js -->
<script>
    async("http://cdn.bootcss.com/fastclick/1.0.6/fastclick.min.js", function(){
        var $nav = document.querySelector("nav");
        if($nav) FastClick.attach($nav);
    })
</script>

<script src="/js/bootstrap3-typeahead.min.js"></script>

<!-- Google Analytics -->
{% if site.ga_track_id %}
<script>
    // dynamic User by Hux
    var _gaId = '{{ site.ga_track_id }}';
    var _gaDomain = '{{ site.ga_domain }}';

    // Originial
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', _gaId, _gaDomain);
    ga('send', 'pageview');
</script>
{% endif %}


<!-- Baidu Tongji -->
{% if site.ba_track_id %}
<script>
    // dynamic User by Hux
    var _baId = '{{ site.ba_track_id }}';

    // Originial
    var _hmt = _hmt || [];
    (function() {
      var hm = document.createElement("script");
      hm.src = "//hm.baidu.com/hm.js?" + _baId;
      var s = document.getElementsByTagName("script")[0];
      s.parentNode.insertBefore(hm, s);
    })();
</script>
{% endif %}

<script>
    $(document).ready(function () {
        var time1 = 0;
        var show = false;
        var names = new Array(); //文章名字等
        var urls = new Array(); //文章地址
        $(document).keyup(function (e) {
            var time2 = new Date().getTime();
            if (e.keyCode == 17) {
                var gap = time2 - time1;
                time1 = time2;
                if (gap < 500) {
                    if (show) {
                        $(".search-tool").css("display", "none");
                        show = false;
                    } else {
                        $(".search-tool").css("display", "block");
                        show = true;
                        $("#search-content").val("");
                        $("#search-content").focus();
                    }
                    time1 = 0;
                }
            }else if(e.keyCode == 27){
                    $(".search-tool").css("display", "none");
                    show = false;
                    time1 = 0;
                }
        });
        $("#search-content").keyup(function (e) {
            var time2 = new Date().getTime();
            if (window.event.keyCode == 17) {
                var gap = time2 - time1;
                time1 = time2;
                if (gap < 500) {
                    if (show) {
                        $(".search-tool").css("display", "none");
                        show = false;
                    } else {
                        $(".search-tool").css("display", "block");
                        show = true;
                        $("#search-content").val("");
                        $("#search-content").focus();
                    }
                    time1 = 0;
                }
            }
        });
        $("#close-btn").click(function () {
            $(".search-tool").css("display", "none");
            show = false;
            time1 = 0;
        });
        $("#search-btn").click(function(){
            $(".search-tool").css("display", "block");
            show = true;
            $("#search-content").val("");
            $("#search-content").focus();
            time1 = 0;
        });
        $.getJSON("/search.json").done(function (data) {
            if (data.code == 0) {
                for (var index in data.data) {
                    var item = data.data[index];
                    names.push(item.title);
                    urls.push(item.url);
                }
                $("#search-content").typeahead({
                    source: names,
                    afterSelect: function (item) {
                        $(".search-tool").css("display", "none");
                        show = false;
                        window.location.href = ("http://www.akmumu.com" + urls[names.indexOf(item)]);
                        return item;
                    }
                });
            }
        });
    });
</script>

    <style>
        @media screen and (min-width: 768px) {
            .dropdown-menu {
                float: none;
                font-size: 20px;
                width: 70%;
                margin: 0 15%;
            }
            .search-tool ul{
                 width: 70% ;
                 white-space:nowrap;
                 overflow:hidden;
                 text-overflow: ellipsis;
             }
            .search-content {
                width: 70%;
                margin: 0 15%;
                position: absolute;
                top: 13%;
                left: auto;
                right: auto;
                font-size: 22px;
                height: 50px;
                background-color: #eee;
                color: black;
                opacity: 1.0;
            }
        }
        @media screen and (max-width: 767px) {
            .dropdown-menu {
                float: none;
                font-size: 20px;
                width: 96%;
                margin: 0 2%;
            }
            .search-tool ul{
                width: 96% ;
                white-space:nowrap; 
                overflow:hidden; 
                text-overflow: ellipsis;
            }
            .search-content {
                width: 96%;
                margin: 0 2%;
                position: absolute;
                top: 10%;
                left: auto;
                right: auto;
                font-size: 22px;
                height: 50px;
                background-color: #eee;
                color: black;
                opacity: 1.0;
            }
        }
    </style>
<div class="search-tool" style="position: fixed; top: 0px ; bottom: 0px; left: 0px; right:  0px;
      opacity: 0.95; background-color: #111111; z-index: 9999; display: none;">
    <input type="text" class="form-control search-content" id="search-content"
           placeholder="文章标题 日期 标签"
           >

    <div style="position: fixed; top: 16px; right: 16px;">
        <img src="/img/close.png"  id="close-btn"/>
    </div>
</div>

<div style="position: fixed; right: 16px; bottom: 20px;">
    <img src="/img/search.png"  id="search-btn"  title="双击ctrl试一下"/>
</div>
